.a {
    padding: 10px;
    margin: 6px;
    color: #c9ac0a;
}

.b {
    text-align: center;
}

.text-decoration {
    color: rgb(79, 190, 138);
}

.app {
    margin: 0 auto;
    border: 10px;
    color: #0b6bd8;