.a{

 padding: 10px;
margin: 6px;
color: #f8f0c1,


}








.b{


text-align: center;


    
}















.text-decoration{

    color: rgb(240, 113, 23)
    
    
    
        
    }


.app{

    margin: 0 auto;
    border: 10px;
    color: blue;
    }